<ng-container *ngIf="!isComparatorShown()">
  <div class="buttons">
    <p-button
      icon="pi pi-arrow-left"
      link="true"
      [pTooltip]="'detail.back' | t"
      tooltipPosition="right"
      (onClick)="navigateToSpeciesCatalog()"
    />
    <p-button
      icon="pi pi-arrows-h"
      link="true"
      [pTooltip]="'detail.compare' | t"
      tooltipPosition="left"
      (onClick)="compareSpecies()"
    />
  </div>

  <ng-container *ngIf="!loading() && speciesDetail() as detail">
    <div class="latin">{{ detail.name.latin }}</div>
    <div class="title">{{ detail.name.localized | localizedName }}</div>

    <p-galleria
      [value]="detail.images"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '1024px' }"
      [showItemNavigators]="true"
      [circular]="true"
      [numVisible]="6"
    >
      <ng-template pTemplate="item" let-item>
        <div class="item">
          <img [src]="item.imageSrc" />
        </div>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="thumbnail">
          <img [src]="item.thumbnailSrc" />
        </div>
      </ng-template>
      <ng-template pTemplate="caption" let-item>
        <div>{{ item.metadata }}</div>
      </ng-template>
    </p-galleria>
  </ng-container>
</ng-container>

<ng-container *ngIf="isComparatorShown()">
  <p-button icon="pi pi-arrow-left" link="true" [pTooltip]="'detail.back' | t" tooltipPosition="right" (onClick)="showDetail()" />
  <app-comparator [compareWith]="speciesDetail()"></app-comparator>
</ng-container>
