:host {
  display: block;
  padding: 0.5rem;

  .title {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0.25rem 0 0.5rem 0;
  }

  .latin {
    font-style: italic;
  }

  p-galleria {
    display: block;

    .thumbnail {
      display: grid;
      justify-content: center;
      gap: 0;

      img {
        display: block;
        height: 60px;
        width: auto;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
        max-height: 550px;
        display: block;
      }
    }
  }

  p-accordion {
    display: block;
    margin: 1rem 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
}
