@if (!isComparatorShown()) {
  <div class="buttons">
    <p-button
      icon="pi pi-arrow-left"
      link="true"
      [pTooltip]="'detail.back' | t"
      tooltipPosition="right"
      (onClick)="navigateToSpeciesCatalog()"
    />
    <p-button
      icon="pi pi-arrows-h"
      link="true"
      [pTooltip]="'detail.compare' | t"
      tooltipPosition="left"
      (onClick)="compareSpecies()"
    />
  </div>

  @if (detail(); as d) {
    <div class="latin">{{ d.name.latin }}</div>
    <div class="title">{{ d.name.localized | localizedName }}</div>

    <!-- TODO: Create custom gallery component -->
    <p-skeleton [hidden]="!isImagesLoading()" width="10rem" height="4rem" />
    <div [hidden]="isImagesLoading()">
      @for (img of d.images; track $index) {
        <img [src]="img.imageSrc" (load)="imageLoaded()" height="150" />
      }
    </div>
    <!-- <p-galleria
      [hidden]="true"
      [value]="d.images"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '1024px' }"
      [showItemNavigators]="true"
      [circular]="true"
      [numVisible]="6"
    >
      <ng-template pTemplate="item" let-item>
        <div class="item">
          <img [src]="item.imageSrc" />
        </div>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="thumbnail">
          <img [src]="item.thumbnailSrc" />
        </div>
      </ng-template>
      <ng-template pTemplate="caption" let-item>
        <div>{{ item.metadata }}</div>
      </ng-template>
    </p-galleria> -->

    <p-accordion [multiple]="true">
      <p-accordionTab header="Sound">
        @if (isRecordingsLoading()) {
          <p-skeleton width="10rem" height="4rem" />
        } @else {
          @for (item of recordings()?.recordings; track item.id) {
            <iframe [src]="recordingUrl(item.id)" scrolling="no" frameborder="0" width="340" height="115"></iframe>
          }
        }
      </p-accordionTab>
      <p-accordionTab header="Description">
        <p>TBD...</p>
        <p>TBD...</p>
      </p-accordionTab>
      <p-accordionTab header="Breeding">
        <p>TBD...</p>
        <p>TBD...</p>
      </p-accordionTab>
      <p-accordionTab header="Distribution">
        <p>TBD...</p>
        <p>TBD...</p>
      </p-accordionTab>
    </p-accordion>
  }
} @else {
  <p-button icon="pi pi-arrow-left" link="true" [pTooltip]="'detail.back' | t" tooltipPosition="right" (onClick)="showDetail()" />
  <app-comparator [compareWith]="detail()"></app-comparator>
}
