<div class="title">{{ "comparator.title" | t }}</div>

<ng-container *ngIf="isSearchShown()">
  <div class="toolbar">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input #searchFilter pInputText [placeholder]="'catalog.search' | t" (input)="onSearchFilter($any($event.target).value)" />
    </span>
    <p-button
      icon="pi pi-check"
      link="true"
      [pTooltip]="'comparator.save' | t"
      tooltipPosition="left"
      (click)="showComparator()"
    ></p-button>
  </div>
  <div class="chips">
    <p-chip
      *ngFor="let item of compareList()"
      [label]="item.name.localized | localizedName"
      [removable]="true"
      (onRemove)="removeFromComparison(item.code)"
    ></p-chip>
  </div>

  <div class="search-result">
    <div
      *ngFor="let item of displayedData()"
      class="card"
      [ngClass]="{ selected: isSelected(item.code) }"
      (click)="toggleComparison(item.code)"
    >
      <div class="latin">{{ item.name.latin }}</div>
      <div class="title">{{ item.name.localized | localizedName }}</div>
      <img [src]="item.thumbnailSrc" [alt]="item.name.latin" />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isSearchShown()">
  <p-button
    icon="pi pi-plus"
    link="true"
    [pTooltip]="'comparator.change' | t"
    tooltipPosition="left"
    (click)="showSearch()"
  ></p-button>
  <div *ngFor="let itemDetail of compareList()">
    <div>{{ itemDetail.name.localized | localizedName }} ({{ itemDetail.name.latin }})</div>

    <p-galleria
      [value]="itemDetail.images"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '640px' }"
      [showItemNavigators]="true"
    >
      <ng-template pTemplate="item" let-item>
        <img [src]="item.imageSrc" style="width: 100%; display: block" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item.thumbnailSrc" style="display: block; width: 100px" />
        </div>
      </ng-template>
      <ng-template pTemplate="caption" let-item>
        <div>{{ item.metadata }}</div>
      </ng-template>
    </p-galleria>
  </div>
</ng-container>
