<ng-container *ngIf="!loading()">
  <!-- <a *ngFor="let item of species()" [routerLink]="[item.code]">
    <div>
      <div>{{ item.name.sk }} ({{ item.name.latin }})</div>
      <p-image
        [src]="item.thumbnailSrc"
        alt="Image"
        width="130"
        [preview]="false"
      />
    </div>
  </a> -->

  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-search" />
    <input type="text" pInputText placeholder="Search" />
  </p-iconField>
  <div class="grid">
    <div *ngFor="let item of species()" class="grid-item">
      <img width="150" [src]="item.thumbnailSrc" />
      <div class="text">
        <p-tag>{{ item.group.sk }}</p-tag>
        <p-tag *ngIf="item.group.subGroup">{{ item.group.subGroup.sk }}</p-tag>
        <div class="latin">
          {{ item.name.latin }}
        </div>
        <div class="main">
          {{ item.name.sk }}
        </div>
      </div>
      <div class="buttons">
        <p-button icon="pi pi-plus" [label]="'catalog.compare' | t"></p-button>
        <p-button icon="pi pi-chevron-circle-right"></p-button>
      </div>
    </div>
  </div>
</ng-container>
