<p-progressSpinner
  *ngIf="loading()"
  class="spinner"
  ariaLabel="loading"
></p-progressSpinner>
<ng-container *ngIf="!loading()">
  <div class="filters">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        #searchFilter
        pInputText
        [placeholder]="'catalog.search' | t"
        (input)="onSearchFilter($any($event.target).value)"
      />
    </span>
    <p-button
      icon="pi pi-filter-slash"
      [pTooltip]="'catalog.clearFilters' | t"
      tooltipPosition="left"
      (click)="clearFilters(searchFilter)"
    ></p-button>
  </div>
  <div class="grid">
    <div *ngFor="let item of displayedData()" class="grid-item">
      <p-image
        [src]="item.fullsizeImgSrc"
        [previewImageSrc]="item.thumbnailSrc"
        width="150"
        [preview]="true"
        loading="lazy"
        [alt]="item.name.latin"
      ></p-image>
      <div class="text">
        <p-tag>{{ item.taxonomy.group | localizedName }}</p-tag>
        <p-tag *ngIf="item.taxonomy.subGroup">{{
          item.taxonomy.subGroup | localizedName
        }}</p-tag>
        <div class="latin">
          {{ item.name.latin }}
        </div>
        <div class="main">
          {{ item.name.localized | localizedName }}
        </div>
      </div>
      <div class="buttons">
        <p-button
          icon="pi pi-eye"
          [pTooltip]="'catalog.view' | t"
          tooltipPosition="left"
          (click)="viewDetail(item.code)"
        ></p-button>
      </div>
    </div>
  </div>
</ng-container>
