<div class="flex mb-2 p-1 shadow-1">
  <p-image [src]="thumbnailSrc()" width="150" [preview]="true" loading="lazy" [alt]="speciesName().latin" class="mr-1">
    <ng-template pTemplate="indicator">
      <i class="pi pi-search-plus"></i>
    </ng-template>
  </p-image>
  <div class="flex flex-column pr-2">
    <p-tag>{{ speciesName().latin }}</p-tag>
    <div class="font-semibold text-md">{{ speciesName().localized | localizedName }}</div>
  </div>
  <div class="ml-auto flex flex-column justify-content-center">
    <p-button
      icon="pi pi-eye"
      link="true"
      [pTooltip]="'catalog.view' | t"
      tooltipPosition="left"
      (click)="viewDetailClick.emit()"
    />
  </div>
</div>
