:host {
  header {
    display: flex;
    justify-content: space-between;
    background-color: #dedede;

    a {
      display: flex;
      text-decoration: none;
    }
  }

  main {
    margin: 0 auto;
  }

  footer {
    display: flex;
    background-color: #dedede;
    justify-content: space-between;
  }
}
