<header class="w-full font-bold p-1 md:p-2 align-items-center">
  <a [routerLink]="['']" class="align-items-center">
    <img src="assets/logo.png" height="32" />
    <span class="px-1 text-lg font-semibold">{{ "layout.title" | t }}</span>
  </a>
  <p-button icon="pi pi-bars" link="true" (click)="openMenu()" />
</header>

<app-sidebar
  [isOpen]="isSidebarOpen()"
  [availableLangs]="availableLangs"
  [appLang]="currentAppLang"
  [speciesLang]="currentSpeciesLang"
  (appLangChange)="appLangChange($event)"
  (speciesLangChange)="speciesLangChange($event)"
  (closeClick)="isSidebarOpen.set(false)"
/>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="p-1 md:p-2 mt-5">
  <div>
    <strong>{{ "layout.title" | t }}</strong>
  </div>
  <div>{{ "layout.footer" | t }}</div>
</footer>
