:host {
  header {
    display: flex;
    justify-content: space-between;
    background-color: #dedede;

    .language {
      font-weight: bold;
      cursor: pointer;

      // Disable text selection
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }
  }

  main {
    margin: 0 auto;
  }

  footer {
    display: flex;
    background-color: #dedede;
    justify-content: space-between;
  }
}
