@if (loading()) {
  <p-progressSpinner class="flex" ariaLabel="loading" />
} @else {
  <div class="m-1 md:m-2">
    <div>Quiz</div>

    @if (quizState() === "init") {
      <p-button icon="pi pi-play" label="Start quiz" (click)="startQuiz()" />
    }

    @if (["waitingForAnswer", "answerValidatedCorrect", "answerValidatedWrong"].includes(quizState())) {
      <!-- Quiz in progress -->
      <div>Question {{ currentQuestionIndex() + 1 }}/{{ currentRoundSet().length }}</div>
      <div>
        What is the latin name of <strong>{{ currentQuestion().name.localized.sk }}</strong>
      </div>

      <input
        type="text"
        pInputText
        #answerInput
        (keydown.enter)="onEnterPressed(answerInput)"
        [ngClass]="{ 'ng-invalid ng-dirty': quizState() === 'answerValidatedWrong' }"
      />
      <div [hidden]="quizState() !== 'answerValidatedWrong'">Correct answer: {{ currentQuestion().name.latin }}</div>
      <div [hidden]="quizState() !== 'answerValidatedCorrect'" class="text-green-500">Correct!</div>

      <div>
        <p-button
          label="Check answer"
          (click)="submitAnswer(answerInput.value)"
          [hidden]="['answerValidatedCorrect', 'answerValidatedWrong'].includes(quizState())"
        />
        <p-button label="Next" (click)="nextQuestion(answerInput)" [hidden]="quizState() === 'waitingForAnswer'" />
      </div>
    }

    @if (quizState() === "finished") {
      <div>Score: {{ currentScore() }}/{{ maxScore }}</div>
      <p-button icon="pi pi-play" label="Start new quiz" (click)="startQuiz()" />
    }
  </div>
}
