<p-sidebar #sidebarRef [visible]="isOpen()" [blockScroll]="true" [dismissible]="false" position="right">
  <ng-template pTemplate="headless">
    <div class="flex flex-column h-full">
      <div class="flex align-items-center justify-content-between px-4 pt-3 flex-shrink-0">
        <span class="font-semibold text-2xl text-primary">Menu</span>
        <span>
          <p-button
            type="button"
            (onClick)="closeClick.emit()"
            icon="pi pi-times"
            rounded="true"
            outlined="true"
            styleClass="h-2rem w-2rem"
          ></p-button>
        </span>
      </div>
      <div>
        <ul class="list-none p-3 m-0">
          <li>
            <div class="p-3 flex align-items-center justify-content-between text-600">
              <span class="font-medium">NAVIGATION</span>
            </div>
            <ul class="list-none p-0 m-0 overflow-hidden">
              <li>
                <a
                  pRipple
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                  (click)="navigate([''])"
                >
                  <i class="pi pi-home mr-2"></i>
                  <span class="font-medium">Dashboard</span>
                </a>
              </li>
              <li>
                <a
                  pRipple
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                  (click)="navigate(['quiz'])"
                >
                  <i class="pi pi-book mr-2"></i>
                  <span class="font-medium">Quiz</span>
                </a>
              </li>
              <!-- <li>
                <a
                  pRipple
                  class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple"
                >
                  <i class="pi pi-bookmark mr-2"></i>
                  <span class="font-medium">Guides</span>
                </a>
              </li> -->
            </ul>
          </li>
        </ul>
        <hr class="mb-3 mx-3 border-top-1 border-none surface-border" />
        <ul class="list-none p-3 m-0">
          <li>
            <div class="p-3 flex align-items-center text-600">
              <i class="pi pi-cog mr-2"></i>
              <span class="font-medium">{{ "layout.menu.settings" | t | uppercase }}</span>
            </div>
            <ul class="list-none p-0 m-0">
              <li>
                <div class="flex align-items-center p-3 text-700">
                  <span class="font-medium mr-1">{{ "layout.menu.appLanguage" | t }}:</span>
                  <p-dropdown
                    [options]="langs()"
                    [ngModel]="appLang()"
                    (onChange)="appLangChange.emit($event.value)"
                    optionLabel="label"
                    optionValue="value"
                  />
                </div>
              </li>
              <li>
                <div class="flex align-items-center p-3 text-700">
                  <span class="font-medium mr-1">{{ "layout.menu.speciesLanguage" | t }}:</span>
                  <p-dropdown
                    [options]="langs()"
                    [ngModel]="speciesLang()"
                    (onChange)="speciesLangChange.emit($event.value)"
                    optionLabel="label"
                    optionValue="value"
                  />
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</p-sidebar>
